h1, h2, h3, h4, h5, h6 {
    font-family: 'Impact', sans-serif;
}

.content {
    display: none;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    gap: 10px;
    max-width: 100%;
}

.grid-item {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}