:root {
    --color1: #353535;
    --color2: #bababa;
    --color3: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Webstorm mono",monospace;
    font-size: 300%;
    color: black;
}

body {
    background: white;
    color: black;
}

table {
    font-family: "Webstorm mono",monospace;
    font-size: 200%;
    color: black;
    border-spacing: 20px 0;
    border-collapse: separate;
}

/*buttons*/
button {
    align-items: center;
    background-color: var(--color3);
    border-radius: 10px;
    border-width: 0;
    box-shadow: var(--color1) 3px 5px 12px, var(--color2) -1px -4px 0 inset;
    box-sizing: border-box;
    color: var(--color1);
    cursor: pointer;
    display: inline-flex;
    font-family: "Webstorm mono",monospace;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

button:hover {
    box-shadow: var(--color1) 3px 5px 6px, var(--color2) 0 -2px 0 inset;
    transform: translateY(2px);
}

#themes {
    display: flex;
    position: fixed;
    gap: 10px;
}

.colors {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;

}

.colors:hover {
    box-shadow: var(--color1) 1px 3px 2px, var(--color2) 0 0 0 inset;
    transform: translateY(2px);
}

#pink {
    color: hotpink;
    background-color: #fff4f8;
    box-shadow: hotpink 1px 3px 5px, pink 0 -1px 0 inset;
}

#pink:hover {
    box-shadow: hotpink 1px 3px 5px, pink 0 -1px 0 inset;
    transform: translateY(2px);
}

#blue {
    color: royalblue;
    background-color: #f1f4ff;
    box-shadow: royalblue 1px 3px 5px, #a3b8ef 0 -1px 0 inset;
}

#blue:hover {
    box-shadow: royalblue 1px 3px 5px, #a3b8ef 0 -1px 0 inset;
    transform: translateY(2px);
}

#gray {
    color: #353535;
    background-color: #f3f3f3;
    box-shadow: #353535 1px 3px 5px, #bababa 0 -1px 0 inset;
}

#gray:hover {
    box-shadow: #353535 1px 3px 5px, #bababa 0 -1px 0 inset;
    transform: translateY(2px);
}

#buttons {
    display: flex;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust position to center it */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 60px;
}

#cueBtn, #timerBtn, #bothBtn {
    height: 70px;
    font-size: 25px;
}

#cuesStartBtn, #timerStartBtn, #bothStartBtn, #backBtn {
    font-size: 12px; /* Smaller font size */
    height: 40px; /* Smaller height */
    padding-left: 10px; /* Adjust padding */
    padding-right: 10px;
}

.start-btn {
    position: fixed;
    color: dimgray;
    right: 3%;
}

.back-btn {
    position: fixed;
    color: dimgray;
    left: 3%;
}

.plus-minus {
    font-size: 18px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    box-shadow: var(--color1) 1px 3px 5px, var(--color2) 0 -1px 0 inset;
}

.plus-minus:hover {
    box-shadow: var(--color1) 1px 3px 2px, var(--color2) 0 0 0 inset;
    transform: translateY(2px);
}

.content {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 88vh;
    gap: 80px;
}

#countdown {
    display: flex;
    justify-content: center;
    font-family: "Roboto",sans-serif;
    font-size: 2000%;
    color: black;
    align-items: center;
    min-width: 100vw;
}



select {
    padding: 10px;
    font-size: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
    font-family: "Roboto",sans-serif;
}

select option {
    background-color: #ffffff;
    color: #333;
    padding: 10px;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#myProgress {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 30px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    padding: 0;
    box-sizing: border-box;
}

#myBar {
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 13px;
    transition: width 0.5s ease;
}

#progressLabel {
    font-family: "Roboto",sans-serif;
}

h3, #repeatDropdownContainer, #restDropdownContainer, #roundDropdownContainer {
    display: inline-block;
    vertical-align: middle;
}

#repeatDropdownContainer {
    margin-left: 10px;
}
