:root {
    --color1: #353535;
    --color2: #bababa;
    --color3: #f3f3f3;
}

.content {
    display: none;
}

/*HOMEPAGE*/
button {
    background-color: var(--color3);
    border-radius: 0.5em;
    border-width: 0;
    box-shadow: var(--color1) 0.21vmax 0.35vmax 0.8vmax, var(--color2) -0.05em -0.2em 0 inset;
    color: var(--color1);
    cursor: pointer;
    font-family: "Webstorm mono",monospace;
    transition: box-shadow .15s,transform .15s;
}

button:hover {
    box-shadow: var(--color1) 0.21vmax 0.35vmax 0.42vmax, var(--color2) 0 -0.1em 0 inset;
    transform: translateY(0.14vmax);
}

#buttons {
    display: flex;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.7vh;
}

#cueBtn, #timerBtn, #bothBtn {
    padding: 3vmin;
    font-size: 4vmin;
}

#themes {
    display: flex;
    position: fixed;
    gap: 0.7vmax;
}

#pink {
    color: hotpink;
    background-color: #fff4f8;
    box-shadow: hotpink 0.07vmax 0.21vmax 0.3vmax, #ffb7d8 0 -0.07vmax 0 inset;
}

#pink:hover {
    box-shadow: hotpink 0.07vmax 0.21vmax 0.14vmax, #ffb7d8 0 0 0 inset;
}

#blue {
    color: royalblue;
    background-color: #f1f4ff;
    box-shadow: royalblue 0.07vmax 0.21vmax 0.3vmax, #a3b8ef 0 -0.07vmax 0 inset;
}

#blue:hover {
    box-shadow: royalblue 0.07vmax 0.21vmax 0.14vmax, #a3b8ef 0 0 0 inset;
}

#gray {
    color: #353535;
    background-color: #f3f3f3;
    box-shadow: #353535 0.07vmax 0.21vmax 0.3vmax, #bababa 0 -0.07vmax 0 inset;
}

#gray:hover {
    box-shadow: #353535 0.07vmax 0.21vmax 0.14vmax, #bababa 0 0 0 inset;
}

/*TIMER & CUES*/
.plus-minus, .colors, #pauseResumeBtn {
    font-size: 1.2vmax;
    height: 2vmax;
    padding-left: 0.7vmax;
    padding-right: 0.7vmax;
    border-radius: 1em;
    box-shadow: var(--color1) 0.07vmax 0.21vmax 0.3vmax, var(--color2) 0 -0.07vmax 0 inset;
}

.plus-minus:hover, .colors:hover, #pauseResumeBtn:hover {
    box-shadow: var(--color1) 0.07vmax 0.21vmax 0.14vmax, var(--color2) 0 0 0 inset;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    gap: 5vw;
}

#cues, #timer {
    border: 1.2em solid var(--color3);
    border-radius: 1em;
    background: var(--color3);
    font-family: "Roboto", sans-serif;
    font-size: 2.2vmax;
    color: var(--color1);
}

#cuesStartBtn, #timerStartBtn, #bothStartBtn, #backBtn {
    font-size: clamp(2vh, 1.1vmax, 2em);
    padding: 1em;
}

.start-btn {
    position: fixed;
    bottom: 4vmin;
    right: 4vmin;
}

.back-btn {
    position: fixed;
    bottom: 4vmin;
    left: 4vmin;
}

#countdown {
    display: flex;
    justify-content: center;
    font-family: "Roboto",sans-serif;
    font-size: 22.3vmax;
    color: var(--color2);
    align-items: center;
}

#nextExercise {
    position: relative;
    color: var(--color2);
    top: 6vh;
    text-align: right;
    font-family: "Roboto",sans-serif;
    font-size: 2.2vmax;
    font-weight: bold;
}


/*CUES ONLY*/
#cueTable th {
    padding-right: 3.5vmax;
    text-align: left;
}

input {
    height: 2.2vmax;
    width: 11vmax;
    border-radius: 0.8vmax;
    border: 0.18vmax solid var(--color2);
    color: var(--color1);
}

#cueText {
    text-align: center;
    font-family: "Roboto",sans-serif;
}

#currentExerciseContainer {
    font-size: 70px;
    font-weight: bold;
    color: var(--color1);
}

#nextExerciseContainer {
    font-size: 40px;
    font-weight: bold;
    color: var(--color2);
}

#cueSpecific {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#completeBtn, #previousExerciseBtn {
    font-size: 30px;
    padding-bottom: 10px;
}

/*TIMER ONLY*/
#timerTable th {
    padding-right: 1.2em; /*CHANGE*/
    text-align: left;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50vmax;
}

#myProgress {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50vmax;
    height: 1em;
    background-color: transparent;
    box-shadow: 3px 5px 12px var(--color1); /* Shadow effect */
    border-radius: 15em;
    box-sizing: border-box;
}

#myBar {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, var(--color2), var(--color1));
    border-radius: 3em;
    transition: width 1s ease;
}

#progressLabel {
    width: 4em; /* Fixed width */
    text-align: right;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: clamp(0.5em, 1.5vmax, 1em);
}

#workOrRest {
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 5vmax;
    font-weight: bold;
}

/*DROPDOWNS*/
h1 {
    font-size: 100%;
}

select {
    padding: 0.4em 0.2em;
    font-size: 1em;
    border: 0;
    background-color: transparent;
    color: var(--color1);
    font-family: "Roboto",sans-serif;
}

select option {
    background-color: var(--color3);
    color: var(--color1);
}

h1, #repeatDropdownContainer, #restDropdownContainer, #roundDropdownContainer, #roundRestDropdownContainer {
    display: inline-block;
    vertical-align: middle;
}

#repeatDropdownContainer {
    margin-left: 20px;
}

#restDropdownContainer {
    margin-left: 42px;
}

#roundDropdownContainer {
    margin-left: 23px;
}

#roundRestDropdownContainer {
    margin-left: 53px;
}



